@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  color: #4d4751;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

a:hover {
  color: #f78154;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  width: 200px;
  background: #f78154;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn:hover {
  background: #944b2f;
}

p {
  margin: 10px 0;
}

/* .image {
  position: relative;
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 2px;
  overflow: hidden;
} */

/* 


h1 {
  margin-bottom: 20px;
}



.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
} */
